src/main/mule/city-trivia.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd">
    <http:listener-config name="city-trivia-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="city-trivia-config" api="city-trivia.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="ad604004-6f8f-47cd-93a4-a50b742e44e2">
		<http:request-connection host="wft-geo-db.p.rapidapi.com/" protocol="HTTPS"/>
	</http:request-config>
	<configuration-properties doc:name="Configuration properties" doc:id="a3f7474e-8f6f-440c-91d7-0301f7581fad" file="application.properties" />
	<flow name="city-trivia-main">
        <http:listener config-ref="city-trivia-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
		<apikit:router config-ref="city-trivia-config" />
		<error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="city-trivia-console">
        <http:listener config-ref="city-trivia-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="city-trivia-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\trivia\question:city-trivia-config">
		<http:request method="GET" doc:name="Request to Cities API" doc:id="cb9b4a41-aaf5-4014-8a2d-8f8e3e1fc1b4" config-ref="HTTP_Request_configuration" outputMimeType="application/json" url="https://wft-geo-db.p.rapidapi.com/v1/geo/cities">
			<http:headers ><![CDATA[#[output application/java
---
{
	'X-Rapidapi-Key' : Mule::p('http.key'),
	'X-RapidAPI-Host' : Mule::p('http.host')
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="7e21a93f-8cb1-4e7e-bb5b-b7391dbaea34" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.data[randomInt(4)]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload.id]" doc:name="variable: id" doc:id="33d79059-1435-445d-8551-f4356a367dd3" variableName="id"/>
		<http:request method="GET" doc:name="Copy_of_Request to Cities API" doc:id="256a40f8-58bb-4a0a-abd6-b53d7d651df3" config-ref="HTTP_Request_configuration" url="https://wft-geo-db.p.rapidapi.com/v1/geo/cities/{city}" outputMimeType="application/json">
			<http:headers><![CDATA[#[output application/java
---
{
	'X-Rapidapi-Key' : Mule::p('http.key'),
	'X-RapidAPI-Host' : Mule::p('http.host')
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : vars.id
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="63aebd71-4e88-4ef3-81d0-e7c83f36d68b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
(payload.data.city as String) ++ (" is a city with a population of " as String) ++ (payload.data.population as String) ++ (" in the timezone " as String) ++ (payload.data.timezone as String) ++ (". Which country is " as String) ++ (payload.data.city as String) ++ (" in?" as String)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" message="get:\trivia\question:city-trivia-config" />
    </flow>
    <flow name="post:\trivia\answer:application\json:city-trivia-config">
        <set-variable value='#[message.payload]' doc:name="Set guess" doc:id="bbf5fae4-59fa-4728-8cca-f45d4f42c19f" variableName="guess"/>
		<set-variable value='#[message.attributes.headers.answer]' doc:name="Set answer" doc:id="9efcc6de-ab18-4346-8416-a4e2104eaef5" variableName="answer"/>
		<choice doc:name="Choice" doc:id="1d882722-d8f2-4efb-9f3a-1ea9f6fa61cc" >
			<when expression="#[vars.guess==vars.answer]">
				<set-payload value='#["Great job! The answer was " ++ vars.answer ++ "."]' doc:name="Set Payload: Right answer" doc:id="1f61d1e0-aaa8-4221-8c7d-6056eedd94cd" />
			</when>
			<otherwise >
				<set-payload value='#["Nice try... The answer was " ++ vars.answer ++ "."]' doc:name="Set Payload: Wrong answer" doc:id="90a326c9-bb87-4ca8-8ca6-0d10ac3bf965" />
			</otherwise>
		</choice>
		<logger level="INFO" message="post:\trivia\answer:application\json:city-trivia-config" />
    </flow>
</mule>
